<%= form_with(model: permission_type, local: true) do |form| %>
  <% if permission_type.errors.any? %>
    
      <% permission_type.errors.full_messages.each do |message| %>
        <div id="error_explanation" class="alert alert-warning alert-dismissable fade show" role="alert">
          <%= message.html_safe %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    
  <% end %>

  <div class="form-group row">
    <label for="permission_type_name" class="col-sm-1 col-form-label">
      Name *
    </label>
    <div class="col-sm-3">
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-1 col-form-label">Description *</label>
    <div class="col-sm-3">
      <%= form.text_field :description, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <div class="actions">
        <%= form.submit "Save" %>
      </div>
    </div>
  </div>
<% end %>
