<%= link_to 'Back', amazon_orders_path %>

<h1>Amazon Order Details</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Amazon Order ID</th>
      <th>Status</th>
      <th>State</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Country Code</th>
      <th>Order Total</th>
      <th>Purchase Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @amazon_order.amazon_order_id %></td>
      <td><%= @amazon_order.status %></td>
      <td><%= @amazon_order.state %></td>
      <td><%= @amazon_order.city %></td>
      <td><%= @amazon_order.zipcode %></td>
      <td><%= @amazon_order.country_code %></td>
      <td><%= @amazon_order.order_total %></td>
      <td><%= @amazon_order.purchase_date %></td>
    </tr>
  </tbody>
</table>
<br>

<h4>Amazon Order Item Details</h4>
<div class="row">
  <div class="col-sm">
    <table id="amazon-associated-items-datatable" data-source="<%= order_associated_items_amazon_orders_path(format: :json, amazon_order_id: @amazon_order.id) %>">
      <thead>
        <tr>
          <th>Order Item Id</th>
          <th>ASIN</th>
          <th>Seller SKU</th>
          <th>RNI</th>
          <th>Sate Type</th>
          <th>Quantity Ordered</th>
          <th>Item Price</th>
          <th>Returned</th>
          <th>Buy Out</th>
          <th>Buy Out Price</th>
          <th>Expired</th>
          <th>Due Date</th>
          <th>Action Date</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
