<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Users</h1>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th style="width: 10%">Email</th>
      <th style="width: 20%">Roles</th>
      <th style="width: 30%">Permissions</th>
      <th style="width: 10%">Created At</th>
      <th style="width: 10%">Updated At</th>
      <th style="width: 20%">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <ul class="list-group">
            <% user.roles.each do |role| %>
              <li class="list-group-item"><%= role.name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <% unless user.permissions.empty? %>
            <ul class="list-group">
              <li class="list-group-item">
                <%= user.permissions.first.name %>
              </li>
            </ul>
          <% end %>
        </td>
        <td><%= user.created_at.strftime("%B %d, %Y %H:%M") %></td>
        <td><%= user.updated_at.strftime("%B %d, %Y %H:%M") %></td>
        <td>
          <%= link_to edit_user_path(user), class: 'btn btn-light btn-sm' do %>
            <span class="fa fa-file"></span>
            Edit
          <% end %>
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light btn-sm' do %>
            <span class="fa fa-trash"></span>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
