<div class="row">
    <div class="col-sm">
        <div class="float-right">
            <%= link_to edit_user_path(@user), class: 'btn btn-secondary ml-2' do %>
              <span class="fa fa-file"></span>
              Edit
            <% end %>
            <%= link_to users_path, class:"btn btn-secondary ml-2" do %>
                <span class="fa fa-list"> </span>
                Return to List
            <% end %>
        </div>
    </div>
</div>

<table class="table table-bordered mt-3">
  <thead class="thead-light">
    <tr>
      <th colspan="5">Field Mapping</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>ID</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>Display Name</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Roles</td>
        <td><%= @user.roles %></td>
      </tr>
      <tr>
        <td>Permissions</td>
        <td></td>
      </tr>
      <tr>
        <td>Created At</td>
        <td><%= @book_field_mapping.created_at %></td>
      </tr>
      <tr>
        <td>Updated At</td>
        <td><%= @book_field_mapping.updated_at %></td>
      </tr>
    
  </tbody>
</table>