<nav id="sidebar" class="active">
  <div class="sidebar-header">
    <h3>BBA</h3>
  </div>
  <ul class="list-unstyled components">
    <li>
      <a href="<%= books_path %>">
        <i class="fas fa-book"></i>
        Books
      </a>
    </li>
    <li>
      <a href="<%= book_export_templates_path %>">
        <i class="fas fa-list-ul"></i>
        Book Export Templates
      </a>
    </li>
    <li>
      <a href="<%= book_field_mappings_path %>">
        <i class="fas fa-list-ul"></i>
        Book Export Fields
      </a>
    </li>
    <li>
      <a id="amazonShipmentsLink" href="<%= amazon_shipments_path %>">
        <i class="fas fa-dolly-flatbed"></i>
        Amazon Shipments
      </a>
    </li>
    <li>
      <a href="<%= amazon_orders_path %>">
        <i class="fas fa-dolly-flatbed"></i>
        Amazon Orders
      </a>
    </li>
    <li>
      <a href="<%= amazon_order_items_path %>">
        <i class="fas fa-dolly-flatbed"></i>
        Amazon Order Items
      </a>
    </li>
  </ul>
</nav>
