<nav id="sidebar" class="active">
  <div class="sidebar-header">
    <a href="<%= root_path %>">
      <h3>BBA</h3>
    </a>
  </div>
  <ul class="list-unstyled components">
    <li>
      <% ean = Book.last.ean %>
      <a href="<%= details_book_path(ean) unless ean.nil? %>" target= "_blank">
        <i class="fas fa-book"></i>
        Book Details
      </a>
    </li>
    <li>
      <a href="<%= books_path %>">
        <i class="fas fa-book"></i>
        Books
      </a>
    </li>
    <li>
      <a href="<%= book_export_templates_path %>">
        <i class="fas fa-list-ul"></i>
        Book Export Templates
      </a>
    </li>
    <li>
      <a href="<%= book_field_mappings_path %>">
        <i class="fas fa-list-ul"></i>
        Book Export Fields
      </a>
    </li>
    <li>
      <a id="amazonShipmentsLink" href="<%= amazon_shipments_path %>">
        <i class="fas fa-dolly-flatbed"></i>
        Amazon Shipments
      </a>
    </li>
    <li>
      <a href="<%= amazon_orders_path %>">
        <i class="fas fa-dolly-flatbed"></i>
        Amazon Orders
      </a>
    </li>
    <li>
      <a href="<%= amazon_order_items_path %>">
        <i class="fas fa-dolly-flatbed"></i>
        Amazon Order Items
      </a>
    </li>
    <li>
      <a href="<%= users_path %>">
        <i class="fas fa-users"></i>
        Users
      </a>
    </li>
    <li>
      <a href="<%= roles_path %>">
        <i class="fas fa-tasks"></i>
        Roles
      </a>
    </li>
    <li>
      <a href="<%= permission_types_path %>">
        <i class="fas fa-cubes"></i>
        Permission Types
      </a>
    </li>
    <li>
      <a href="<%= permissions_path %>">
        <i class="fas fa-cogs"></i>
        Permissions
      </a>
    </li>
  </ul>
</nav>
