<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Submissions</h1>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <%= form_tag(user_submissions_path, method: :get, class: 'form-inline') do %>
      
      <div class="form-group">
        <%= text_field_tag :search_term, params[:search_term], placeholder: 'Search', class: 'form-control m-2' %>
        <a href="<%= user_submissions_path %>" id="submissions-clear-filters" class="btn" ><i class="fa fa-times"></i></a>
        <%= submit_tag 'Submit', class: 'btn btn-primary m-2' %>
        <a href="<%= user_submissions_path(format: :csv)%>" class="btn btn-secondary m-2 export-submissions-button">Export</a>
        <%= link_to new_submission_path, class: 'btn btn-secondary m-2' do %>
          <span class="fa fa-plus"></span>
          New
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Company</th>
        <th>Seller Name</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
    </thead>

    <tbody>
      <% unless @submissions.blank? %>
        <% @submissions.each do |submission| %>
          <tr>
            <td><%= submission.company_name %></td>
            <td><%= submission.seller_name %></td>
            <% if submission.status == 'blacklisted' %>
            <td class="text-danger"><%= submission.status %></td>
            <% elsif submission.status == 'whitelisted' %>
            <td class="text-success"><%= submission.status %></td>
            <% else %>
            <td class="text-warning"><%= submission.status %></td>
            <% end %>
            <td><%= submission.notes %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @submissions %>
<br>

<%= render 'shared/block_modal' %>