<%= form_with(model: permission, local: true, id: :permission_form) do |form| %>
  <% if permission.errors.any? %>
    
      <% permission.errors.full_messages.each do |message| %>
        <div id="error_explanation" class="alert alert-warning alert-dismissable fade show" role="alert">
          <%= message.html_safe %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    
  <% end %>

  <div class="form-group row d-none">
    <label class="col-sm-12 col-form-label pt-0"><h5>Authorizable</h5></label>
    <div class="col-sm-12">
      <input type="hidden" class="authorizable_type" value="<%= permission.authorizable_type.nil? ? nil : permission.authorizable_type.downcase %>">
      <div class="form-check form-check-inline">
        <input class="form-check-input permission-authorizable-checkbox" type="radio" name="authorizable_options" value="user" id="userCheck">
        <label class="form-check-label" for="userCheck">
          User
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input permission-authorizable-checkbox" type="radio" name="authorizable_options" value="role" id="roleCheck" checked>
        <label class="form-check-label" for="roleCheck">
          Role
        </label>
      </div>
      <div class="authorizable-select user mt-3">
        <%= form.collection_select :authorizable_obj, User.all, :to_global_id, :to_s, {}, { class: "select-field user-select modal-permission-form-select" } %>
      </div>
      <div class="authorizable-select role mt-3">
        <%= form.collection_select :authorizable_obj, Role.all, :to_global_id, :to_s, {}, { class: "select-field role-select modal-permission-form-select" } %>
      </div> 
    </div>
  </div>
  <div class="form-group row pt-3">
    <label class="col-sm-12 col-form-label pt-0"><h5>Permissible</h5></label>
    <div class="col-sm-12">
      <input type="hidden" class="permissible_type" value="<%= permission.permissible_type.nil? ? nil : permission.permissible_type.downcase %>">
      <div class="form-check form-check-inline">
        <input class="form-check-input permission-permissible-checkbox" type="radio" name="permissible_options" value="feature" id="featureCheck" checked>
        <label class="form-check-label" for="featureCheck">
          Feature
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input permission-permissible-checkbox" type="radio" name="permissible_options" value="route" id="routeCheck">
        <label class="form-check-label" for="routeCheck">
          Routes
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input permission-permissible-checkbox" type="radio" name="permissible_options" value="bookfieldmapping" id="bookexportfieldCheck">
        <label class="form-check-label" for="bookexportfieldCheck">
          Book Export Field
        </label>
      </div>
      <div class="permissible-select feature mt-3">
        <%= form.collection_select :permissible_obj, Feature.all, :to_global_id, :to_s, {}, { class: "select-field feature-select modal-permission-form-select" }%>
      </div>
      <div class="permissible-select route mt-3">
        <%= form.collection_select :permissible_obj, Route.all, :to_global_id, :to_s, {}, { class: "select-field route-select modal-permission-form-select" }%>
      </div>
      <div class="permissible-select bookfieldmapping mt-3">
        <%= form.collection_select :permissible_obj, BookFieldMapping.all, :to_global_id, :to_s, {}, { class: "select-field bookfieldmapping-select modal-permission-form-select" }%>
      </div>
      
    </div>
  </div>
  <div class="form-group row modal-permission-submit">
    <div class="col-sm-12">
      <div class="actions">
        <%= form.submit "Save" %>
      </div>
    </div>
  </div>
<% end %>
