<%= form_with(model: permission, local: true, id: :permission_form) do |form| %>
  <% if permission.errors.any? %>
    
      <% permission.errors.full_messages.each do |message| %>
        <div id="error_explanation" class="alert alert-warning alert-dismissable fade show" role="alert">
          <%= message.html_safe %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    
  <% end %>

  <div class="form-group row">
    <label for="permission_name" class="col-sm-1 col-form-label">
      Name *
    </label>
    <div class="col-sm-3">
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-1 col-form-label">Authorizable</label>
    <div class="col-sm-3">
      <%= form.grouped_collection_select :authorizable_string, [User, Role], :all, :model_name, :to_s, :name, {}, { class: "form-control"} %>
    </div>
  </div>
  <div class="form-group row row border-top pt-3">
    <label class="col-sm-1 col-form-label">Book Export Fields</label>
    <div class="col-sm-11">
      <div id="permission-field-mappings">
        <%= form.fields_for :book_field_mapping_permissions do |field_mapping| %>
          <%= render 'book_field_mapping_permissions', f: field_mapping %>
        <% end %>

      </div>
      <div id="hidden"></div>
      <div id="removed"></div>
      <div class="add-book-field-mappings">
        <%= link_to_add_fields "Add Field", form, :book_field_mapping_permissions %>
      </div>
    </div>
  </div>
  <div class="form-group row border-top pt-3">
    <label class="col-sm-1 col-form-label">Route Actions</label>
    
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <div class="actions">
        <%= form.submit "Save" %>
      </div>
    </div>
  </div>
<% end %>
