<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="<%= permissions_path %>">Permissions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= features_path %>">Features</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= routes_path %>">Routes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= route_actions_path %>">Route Actions</a>
  </li>
</ul>
<div class="row mt-3 mb-3">
  <div class="col-sm">
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <%= link_to new_permission_path, class: 'btn btn-secondary ml-2' do %>
          <span class="fa fa-plus"></span>
          New
        <% end %>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th style="width: 10%">Name</th>
      <th style="width: 15%">Authorizable</th>
      <th style="width: 20%">Book Export Fields</th>
      <th style="width: 15%">Route Actions</th>
      <th style="width: 10%">Created At</th>
      <th style="width: 10%">Updated At</th>
      <th style="width: 20%">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.name %></td>
        <td>
          <%= permission.authorizable_type == 'Role'? permission.authorizable.name : permission.authorizable.email %>
        </td>
        <td>
          <ul class="list-group">
            <% permission.book_field_mappings.each do |field_mapping| %>
              <li class="list-group-item"><%= field_mapping.display_name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul class="list-group">
            <% permission.route_actions.each do |route_action| %>
              <li class="list-group-item">
                <%= route_action.route_path %> - <%= route_action.action %>
              </li>
            <% end %>
          </ul>
        </td>
        <td><%= permission.created_at.strftime("%B %d, %Y %H:%M") %></td>
        <td><%= permission.updated_at.strftime("%B %d, %Y %H:%M") %></td>
        <td>
          <%= link_to permission, class: 'btn btn-light btn-sm', type: 'button' do %>
            <span class="fa fa-search-plus"></span>
            Show
          <% end %>
          <%= link_to edit_permission_path(permission), class: 'btn btn-light btn-sm' do %>
            <span class="fa fa-file"></span>
            Edit
          <% end %>
          <%= link_to permission, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light btn-sm' do %>
            <span class="fa fa-trash"></span>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
