<!-- Quantity History -->
<div class="detail-caption mt-4">
    <label class="table-title">History</label>
</div>
<div id="detail-headers" class="book-details">
    <label class="col-detail title">Date</label>
    <label class="col-detail title">Low</label>
    <label class="col-detail title">FBALow</label>
    <label class="col-detail title">NW</label>
    <label class="col-detail title">W</label>
    <label class="col-detail title">Renters</label>
    <label class="col-detail title">SalesRank</label>
    <label class="col-detail title">TQ AVG</label>
    <label class="col-detail title">ORQ AVG</label>
    <label class="col-detail title">INBQ AVG</label>
    <label class="col-detail title">MBSWH</label>
    <label class="col-detail title">NBCWH</label>
</div>
<% if @book.nil? %>
  <div class="no-data text-center">
    No data available in table.
  </div>
<% else %>
  <% unless @all_history.blank? %>
    <% @all_history.each do |row| %>
      <div class="book-details dotted-top qh-detail-row">
        <input type="hidden" name="hist-table" value="all-hist-table">
        <div class="col-detail">
          <p class="title title-sm">Date</p>
          <div class="qh-date">
            <% date_parts = row.fetch("date", "")&.split('/') %>
            <%= "#{date_parts[1]}/#{date_parts[0]}" if date_parts&.count == 2 %>
          </div>
        </div>
        <div class="col-detail col-data">
          <p class="title title-sm">Low</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(number_with_precision(row.fetch("lowest_avg", 0), precision: 2)) %>
              </label>
              <input type="hidden" name="qh-col-data" value="Lowest-Price">
              <button type="button" class="btn-sm btn-success plus-button ml-0" data-toggle="modal" data-target="#historyModal">
                  <i class="fa fa-plus"></i>
              </button>
              
          </div>
        </div>
        <div class="col-detail col-data">
          <p class="title title-sm">FBALow</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(number_with_precision(row.fetch("fba_avg", 0), precision: 2)) %>
              </label>
              <input type="hidden" name="qh-col-data" value="FBA-Price">
              <button type="button" class="btn-sm btn-success plus-button ml-0" data-toggle="modal" data-target="#historyModal">
                  <i class="fa fa-plus"></i>
              </button>
              
          </div>
        </div>
        <div class="col-detail col-data">
          <p class="title title-sm">NW</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(number_with_precision(row.fetch("nw", 0), precision: 2)) %>
              </label>
              <input type="hidden" name="qh-col-data" value="NW-Price">
              <button type="button" class="btn-sm btn-success plus-button ml-0" data-toggle="modal" data-target="#historyModal">
                  <i class="fa fa-plus"></i>
              </button>
              
          </div>
        </div>
        <div class="col-detail col-data">
          <p class="title title-sm">W</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(number_with_precision(row.fetch("w", 0), precision: 2)) %>
              </label>
              <input type="hidden" name="qh-col-data" value="W-Price">
              <button type="button" class="btn-sm btn-success plus-button ml-0" data-toggle="modal" data-target="#historyModal">
                  <i class="fa fa-plus"></i>
              </button>
              
          </div>
        </div>
        <div class="col-detail col-data">
          <p class="title title-sm">Renters</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(row.fetch("renters", 0)) %>
              </label>
          </div>
        </div>
        <div class="col-detail col-data">
          <p class="title title-sm">SalesRank</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(row.fetch("min_sales_rank", 0)) %>
              </label>
          </div>
        </div>
        <div class="col-detail col-data">
          <p class="title title-sm">TQ AVG</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(row.fetch("Total", 0)) %>
              </label>
              <input type="hidden" name="qh-col-data" value="Total-Quantity">
              <button type="button" class="btn-sm btn-success plus-button ml-0" data-toggle="modal" data-target="#historyModal">
                  <i class="fa fa-plus"></i>
              </button>
              
          </div>
        </div>
        <div class="col-detail col-data">
          <p class="title title-sm">ORQ AVG</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(number_with_precision(row.fetch("OR", 0), precision: 0)) %>
              </label>
              <input type="hidden" name="qh-col-data" value="OR-Quantity">
              <button type="button" class="btn-sm btn-success plus-button ml-0" data-toggle="modal" data-target="#historyModal">
                  <i class="fa fa-plus plus-btn"></i>
              </button>
          </div>
        </div>
        <div class="col-detail col-data">
          <p class="title title-sm">INBQ AVG</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(number_with_precision(row.fetch("INB", 0), precision: 0)) %>
              </label>
              <input type="hidden" name="qh-col-data" value="INB-Quantity">
              <button type="button" class="btn-sm btn-success plus-button ml-0" data-toggle="modal" data-target="#historyModal">
                  <i class="fa fa-plus"></i>
              </button>
          </div>
        </div>

        <div class="col-detail col-data">
          <p class="title title-sm">MBSWH</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(number_with_precision(row.fetch("mbswh", 0), precision: 2)) %>
              </label>
          </div>
        </div>

        <div class="col-detail col-data">
          <p class="title title-sm">NBCWH</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(number_with_precision(row.fetch("nbcwh", 0), precision: 2)) %>
              </label>
          </div>
        </div>
        
      </div>
    <% end %>
  <% else %>
    <div class="no-data text-center">
      <div class="section-loader" id="all-hist-spinner"></div>
      <div id="all-hist-no-data">No data available in table.</div>
    </div>
  <% end %>
<% end %>