<!-- Amazon Orders -->
<table id="book-details-amazon-orders" class="book-details-table table table-bordered">
  <caption class="caption"><h5>Amazon Orders - AVG Turns: <%= @book? @book.average_turns : 'N/A' %> - ROI: <%= @book? @book.roi : 'N/A' %> </h5></caption>
  <thead class="thead-light text-center">
    
    <tr id="book-details-amazon-ordrs-th" class="text-left">
      <th scope="col">Sale Q</th>
      <th scope="col">Sale P</th>
      <th scope="col">Rental Q</th>
      <th scope="col">Rental P</th>
      <th scope="col">Month/Year</th>
    </tr>
  </thead>
  <tbody>
    <% if @book.nil? %>
        <tr class="no-data">
            <td colspan="11" class="text-center">No data available in table</td>
        </tr>
    <% else %>
      <% @amazon_orders.each do |order| %>
        <tr>
            <td><%= order.sale_quantity ? order.sale_quantity : 0 %></td>
            <td><%= order.sale_avg_price ? number_to_currency(order.sale_avg_price) : 0.00 %></td>
            <td><%= order.rental_quantity ? order.rental_quantity : 0 %></td>
            <td><%= order.rental_avg_price ? number_to_currency(order.rental_avg_price) : 0.00 %></td>
            <td><%= order.date %></td>
        </tr>
      <% end %>
      <tr id="book-details-amazon-orders-total-avg"class="text-left">
        <td><%= @amazon_orders_totals.sale_quantity ? @amazon_orders_totals.sale_quantity : 0 %></td>
        <td><%= @amazon_orders_totals.sale_avg_price ? number_to_currency(@amazon_orders_totals.sale_avg_price) : 0.00 %></td>
        <td><%= @amazon_orders_totals.rental_quantity ? @amazon_orders_totals.rental_quantity : 0 %></td>
        <td><%= @amazon_orders_totals.rental_avg_price ? number_to_currency(@amazon_orders_totals.rental_avg_price) : 0.00 %></td>
        <td scope="col"> </td>
      </tr>
    <% end %>
  </tbody>
</table>