<!-- Title Headers -->
<div class="detail-caption mt-4">
    <label class="table-title">Amazon Orders - AVG Turns: <%= @book? @book.average_turns : 'N/A' %> - ROI: <%= @book? @book.roi : 'N/A' %></label>
</div>

<!-- AMAZON ORDERS TOTAL -->
<div id="amazon-orders-total-avg" class="book-details">
  <div class="col-detail">
    <p class="title title-sm">Sale Q Total</p>
    <div><%= number_with_delimiter(@sale_q_totals ? @sale_q_totals : 0) %></div>
  </div>
  <div class="col-detail">
    <p class="title title-sm">Sale P Total</p>
    <div><%= number_with_delimiter(number_to_currency(@sale_p_totals ? @sale_p_totals : 0.00)) %></div>
  </div>
  <div class="col-detail">
    <p class="title title-sm">Rental Q Total</p>
    <div><%= number_with_delimiter(@rental_q_totals ? @rental_q_totals : 0) %></div>
  </div>
  <div class="col-detail">
    <p class="title title-sm">Rental P Total</p>
    <div><%= number_with_delimiter(number_to_currency(@rental_p_totals ? @rental_p_totals : 0.00)) %></div>
  </div>
  <div class="col-detail">
    <p class="title title-sm">Main Q Total</p>
    <div><%= number_with_delimiter(@main_q_totals ? @main_q_totals : 0) %></div>
  </div>
  <div class="col-detail">
    <p class="title title-sm">Main P Total</p>
    <div><%= number_with_delimiter(number_to_currency(@main_p_totals ? @main_p_totals : 0.00)) %></div>
  </div>
  <div class="col-detail">
    <p class="title title-sm">Direct Q Total</p>
    <div><%= number_with_delimiter(@main_direct_q_totals ? @main_direct_q_totals : 0) %></div>
  </div>
  <div class="col-detail">
    <p class="title title-sm">Direct P Total</p>
    <div><%= number_with_delimiter(number_to_currency(@main_direct_p_totals ? @main_direct_p_totals : 0.00)) %></div>
  </div>
  <div class="col-detail">
    <p class="title">Totals</p>
  </div>
</div>

<div id="detail-headers" class="book-details">
  <label class="col-detail title">Sale Q</label>
  <label class="col-detail title">Sale P</label>
  <label class="col-detail title">Rental Q</label>
  <label class="col-detail title">Rental P</label>
  <label class="col-detail title">Main Q</label>
  <label class="col-detail title">Main P</label>
  <label class="col-detail title">Direct Q</label>
  <label class="col-detail title">Direct P</label>
  <label class="col-detail title">Month / Year</label>
</div>

<% if @book.nil? %>
  <div class="no-data text-center">
    No data available in table.
  </div>
<% else %>
  <% unless @amazon_orders.blank? %>
  
    <!-- AMAZON ORDERS -->
    <% @amazon_orders.each_with_index do |order| %>
      <% date_parts = order.date&.split('/') %>
      <% date = "#{date_parts[1]}/#{date_parts[0]}" if date_parts&.count == 2 %>
      <% main = @main_copy_sales.select {|rec| rec['date'] == date } unless @main_copy_sales.blank? %>
      <% direct = @main_copy_direct_sales.select {|rec| rec['date'] == date } unless @main_copy_direct_sales.blank? %>
      <div class="book-details dotted-top">
        <div class="col-detail">
          <p class="title title-sm">Sale Q</p>
          <div><%= order.sale_quantity ? number_with_delimiter(order.sale_quantity) : 0 %></div>
        </div>
        <div class="col-detail">
          <p class="title title-sm">Sale P</p>
          <div><%= order.sale_avg_price ? number_with_delimiter(number_with_precision(order.sale_avg_price, precision: 2)) : 0.00 %></div>
        </div>
        <div class="col-detail">
          <p class="title title-sm">Rental Q</p>
          <div><%= order.rental_quantity ? number_with_delimiter(order.rental_quantity) : 0 %></div>
        </div>
        <div class="col-detail">
          <p class="title title-sm">Rental P</p>
          <div><%= order.rental_avg_price ? number_with_delimiter(number_with_precision(order.rental_avg_price, precision: 2)) : 0.00 %></div>
        </div>
        <div class="col-detail">
          <p class="title title-sm">Main Q</p>
          <div><%= main.blank? ? 0 : number_with_delimiter(main.fetch(0)['quantity']) %></div>
        </div>
        <div class="col-detail">
          <p class="title title-sm">Main P</p>
          <% %>
          <div><%= main.blank? ? 0.00 : number_with_delimiter(number_with_precision(main.fetch(0)['avg_price'], precision: 2)) %></div>
        </div>
        <div class="col-detail">
          <p class="title title-sm">Direct Q</p>
          <div><%= direct.blank? ? 0 : number_with_delimiter(direct.fetch(0)['quantity']) %></div>
        </div>
        <div class="col-detail">
          <p class="title title-sm">Direct P</p>
          <div><%= direct.blank? ? 0.00 : number_with_delimiter(number_with_precision(direct.fetch(0)['avg_price'], precision: 2)) %></div>
        </div>
        <div class="col-detail">
          <p class="title title-sm">Month / Year</p>
          <div>
            <%= date %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-data text-center">
      <div class="section-loader" id="ao-spinner"></div>
      <div id="ao-no-data">No data available in table.</div>
    </div>
  <% end %>
<% end %>