<!-- title headers -->
<div class="detail-caption mt-4">
    <label class="table-title">Amazon Inventory</label>
</div>
<div id="detail-headers" class="book-details">
    <label class="col-detail title">FBAQ</label>
    <label class="col-detail title">Inbound</label>
    <label class="col-detail title">ORQC</label>
    <label class="col-detail title">ORQT</label>
    <label class="col-detail title">FBAWQ</label>
    <label class="col-detail title">BZ&JQ</label>
    <label class="col-detail title">POQ</label>
    <label class="col-detail title">BOQ</label>
    <label class="col-detail title">BO%</label>
    <label class="col-detail title">RQ</label>
    <label class="col-detail title">R%</label>
</div>

<% if @book.nil? %>
    <div class="no-data text-center">
        No data available in table.
    </div>
<% else %>
    <!-- Detail content -->
    <div class="book-details mb-1">
        <div class="col-detail">
            <p class="title title-sm">FBAQ</p>
            <div>
                <%= number_with_delimiter(@book.fbaq) %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">Inbound</p>
            <div>
                <%= number_with_delimiter(@book.inbq) %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">ORQC</p>
            <div>
                <%= number_with_delimiter(@book.orq) %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">ORQT</p>
            <div>
                <%= number_with_delimiter(@book.orq_total) %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">FBAWQ</p>
            <div>
                <%= number_with_delimiter(@book.fba_sku_quantity) %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">BZ&JQ</p>
            <div>
                <%= number_with_delimiter(@book.bz_j_sku_quantity) %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">POQ</p>
            <div>
                <%= number_with_delimiter(@book.pending_order) %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">BOQ</p>
            <div>
                <%= number_with_delimiter(@book.buyouts) %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">BO%</p>
            <div>
                <%= @book.buyouts_percentage %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">RQ</p>
            <div>
                <%= number_with_delimiter(@book.returns) %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">R%</p>
            <div>
                <%= @book.returns_percentage %>
            </div>
        </div>
    </div>

<% end %>
