<div class="detail-caption">
    <label class="table-title">Book</label>
</div>

<!-- Title headers -->
<div id="detail-headers" class="book-details">
    <label class="col-detail title">Image</label>
    <label class="col-detail title">Author</label>
    <label class="col-detail title">Title</label>
    <label class="col-detail title">List</label>
    <label class="col-detail title">Wholesale</label>
    <label class="col-detail title">Amazon Low</label>
    <label class="col-detail title">FBA Low</label>
    <label class="col-detail title">Amazon Rental</label>
    <label class="col-detail title">Sales Rank</label>
    <label class="col-detail title">Pub</label>
    <label class="col-detail title">Subject</label>
</div>


<% if @book.nil? %>
    <div class="no-data text-center">
        No data available in table.
    </div>
<% else %>
    <!-- Detail content -->
    <div class="book-details">
        <div class="col-detail">
            <p class="title title-sm">Image</p>
            <div>
                <%= image_tag @book.default_image_url, :id => 'book-img', :class => 'mx-auto d-block' %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">Author</p>
            <div>
                <%= @book.author ? @book.author : ''  %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">Title</p>
            <div>
                <%= @book.title ? @book.title : ''  %> <br>
                <%= @book.edition ? @book.edition : ''  %> <br>
                <%= @book.isbn ? @book.isbn : ''  %> <br>
                <%= @book.ean ? @book.ean : ''  %> <br>
                OE: 
                <% if @book.oe_isbn? %>
                    <%= link_to  "#{@book.oe_isbn}", details_book_path(:id => @book.oe_isbn), method: :get, class: 'text-info' %>
                <% else %>

                <% end %>
                NE: 
                <% if @book.ne_isbn? %>
                    <%= link_to "#{@book.ne_isbn}", details_book_path(:id => @book.ne_isbn), method: :get, class: 'text-info' %>
                <% else %>

                <% end %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">List</p>
            <div>
                <%= @book.list_price ? number_with_delimiter(@book.list_price) : '' %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">Wholesale</p>
            <div>
                <%= @book.max_used_wholesale_price ? number_with_delimiter(@book.max_used_wholesale_price) : '' %> <br>
                <%= @book.edition_status_code ? @book.edition_status_code : '' %>
                <%= @book.edition_status_date ? @book.edition_status_date : '' %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">Amazon Low</p>
            <div>
                7d: <%= @book.amazon_ca_low ? number_with_delimiter(@book.amazon_ca_low) : '' %> <br>
                1/<%= Book.jan_year %>: <%= @book.lowest_price_jan_average ? number_with_delimiter(@book.lowest_price_jan_average) : '' %> <br>
                8/<%= Book.aug_year %>: <%= @book.lowest_price_aug_average ? number_with_delimiter(@book.lowest_price_aug_average) : '' %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">FBA Low</p>
            <div>
                7d: <%= @book.weekly_fba ? number_with_delimiter(@book.weekly_fba) : '' %> <br>
                8/<%= Book.aug_year %>: <%= @book.lowest_price_aug_average ? @book.lowest_price_aug_average : '' %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">Amazon Rental</p>
            <div>
                7d: <%= @book.lowest_rental_average ? @book.lowest_rental_average : '' %> <br>
                8/<%= Book.aug_year %>: <%= @book.lowest_rental_august_average ? number_with_delimiter(@book.lowest_rental_august_average) : '' %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">Sales Rank</p>
            <div>
                7d: <%= @book.weekly_sales_rank ? number_with_delimiter(@book.weekly_sales_rank) : '' %> <br>
                1/<%= Book.jan_year %>: <%= @book.sales_rank_jan_average ? number_with_delimiter(@book.sales_rank_jan_average) : '' %> <br>
                8/<%= Book.aug_year%> : <%= @book.book_qa_aug_rank ? number_with_delimiter(@book.book_qa_aug_rank) : '' %> <br>
                OE: <%= @book.oe_isbn_rec ? number_with_delimiter(@book.oe_isbn_rec.sales_rank) : '' %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">Pub</p>
            <div>
                <%= @book.publisher ? @book.publisher : '' %> <br>
                <%= @book.publication_date ? @book.publication_date : '' %> <br>
                Life: <%= @book.life ? @book.life : '' %> <br>
                OE Life: <%= @book.oe_life ? @book.oe_life : '' %> <br>
                C Life: <%= @book.c_life ? @book.c_life : '' %> <br>
                R Life: <%= @book.r_life ? @book.r_life : '' %> <br>
                <%= @book.binding ? @book.binding : '' %>
            </div>
        </div>
        <div class="col-detail">
            <p class="title title-sm">Subject</p>
            <div>
                <%= @book.subject ? @book.subject : '' %>
            </div>
        </div>
    </div>
<% end %>
