<div class="row pl-2">
  <div>
    <div class="input-group mb-3 float-left">
      <%= text_field_tag :search_book, params[:search_book], value: params[:id], class: "form-control", type: "text"%>
    </div>
  </div>
</div>

<div id="book-table">
  <div class="row">
    <div class="col pl-2 pr-2"> 
      <div id="main-details-div">
        <%= render 'main_details' %>
      </div>
    </div>
  </div>

  <div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 pl-2 pr-2">
      <div id="rental-history-div">
        <%= render 'rental_history' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 pl-2 pr-2">
      <div id="fba-history-div">
        <%= render 'fba_history' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 pl-2 pr-2">
      <div id="lowest-history-div">
        <%= render 'lowest_history' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 col-xl-5 pl-2 pr-2">
      <div id="amazon-orders-div">
        <%= render 'amazon_orders' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 col-xl-6 pl-2 pr-2">
      <div id="guides-div">
        <%= render 'guides' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-6 pl-2 pr-2">
      <div id="amazon-inventory-div">
        <%= render 'amazon_inventory_details' %>
      </div>
      <div id="quantity-history-div">
        <%= render 'quantity_history'%>
      </div>
      <div id="min-sales-rank-history-div">
        <%= render 'min_sales_rank_history' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center mt-4">
          <h4>Historic Amazon Prices</h4>
      </div>
      <div class="section-loader" id="amazon-prices-spinner"></div>
      <div id="amazon-prices-div">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center mt-4">
          <h4>Historic Amazon Sales Rank</h4>
      </div>
      <div class="section-loader" id="sales-rank-spinner"></div>
      <div id="sales-rank-div">
      </div>
    </div>
  </div>
</div>

<%= render 'history_modal' %>