<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Books</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table id="books" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>EAN</th>
          <th>ISBN</th>
          <th>Author</th>
          <th>Title</th>
          <th>Edition</th>
          <th>Subject</th>
          <th>Publication Date</th>
          <th>Copyright</th>
          <th>Publisher</th>
          <th>Status</th>
          <th>Status Date</th>
          <th>Grade</th>
          <th>List</th>
          <th>Wholesale</th>
          <th>Max Wholesale</th>
          <th>Trade In</th>
          <th>Lowest Price</th>
          <th>Rank</th>
          <th>Aug Rank</th>
          <th>Amazon Rental</th>
          <th>Lowest Rental</th>
          <th>FCB Price</th>
          <th>FBA Price</th>
          <th>Updated At</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book|%>
          <tr>
            <td><%= book.ean %></td>
            <td><%= book.isbn %></td>
            <td><%= book.author %></td>
            <td><%= book.title %></td>
            <td><%= book.edition %></td>
            <td><%= book.subject %></td>
            <td><%= book.publication_date %></td>
            <td><%= book.copyright %></td>
            <td><%= book.publisher %></td>
            <td><%= book.edition_status_code %></td>
            <td><%= book.edition_status_date %></td>
            <td><%= book.grade %></td>
            <td><%= book.list_price %></td>
            <td><%= book.used_wholesale_price %></td>
            <td><%= book.max_wholesale_price %></td>
            <td><%= book.trade_in %></td>
            <td><%= book.lowest_price %></td>
            <td><%= book.sales_rank %></td>
            <td><%= book.sales_rank_aug_avg %></td>
            <td><%= book.amazon_rental %></td>
            <td><%= book.lowest_rental %></td>
            <td><%= book.fcb_price %></td>
            <td><%= book.fba_price %></td>
            <td><%= book.updated_at %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#books').DataTable();
  });
</script>
