<div class="row">
  <div class="col-sm">
    <div class="chart_row d-flex flex-wrap flex-md-nowrap">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pl-2 pr-2">
        <div class="chart">
          <h2 class="chart-title">Sale/Rental</h2>
          <% @sale_rental_filters, s_total = sale_type_filters(@filter_records) %>
          <div class="total-record">Total: <%= s_total %></div>
          <% unless filter_count_check(@sale_rental_filters) %>
            <%= pie_chart @sale_rental_filters, thousands: ",", library: {pieSliceText: 'value-and-percentage'} %>
          <% else %>
            <div class="no_record">No Record Found</div>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pl-2 pr-2">
        <div class="chart">
          <h2 class="chart-title">Buyout/Returned</h2>
          <% @buyout_returned_filters = buyout_returned_filters(@filter_records) %>
          <div class="total-record">Total: <%= total_count(@buyout_returned_filters) %></div>
          <% unless filter_count_check(@buyout_returned_filters) %>
            <%= pie_chart @buyout_returned_filters , thousands: ",", library: {pieSliceText: 'value-and-percentage'} %>
          <% else %>
            <div class="no_record">No Record Found</div>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pl-2 pr-2">
        <div class="chart">
          <h2 class="chart-title">Short/Long Term</h2>
          <% @charge_type_filters, c_total = charge_type_filters(@filter_records) %>
          <div class="total-record">Total: <%= c_total %></div>
          <% unless filter_count_check(@charge_type_filters) %>
            <%= pie_chart @charge_type_filters, thousands: ",", library: {pieSliceText: 'value-and-percentage'} %>
          <% else %>
            <div class="no_record">No Record Found</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-12">
    <div class="footer_table">
      <table class="records_table">
        <tr>
          <th class="top_th">Sales:</th>
          <td colspan="2" class="top_td"><%= number_with_delimiter(@sale_rental_filters["Sale"], :delimiter => ',') || 0 %></td>
        </tr>
        <tr>
          <th class="top_th">Rentals:</th>
          <td colspan="2" class="top_td"><%= number_with_delimiter(@sale_rental_filters["Rental"], :delimiter => ',') || 0 %></td>
        </tr>
        <tr class="table_th">
          <th>Type</th>
          <th>Units</th>
          <th>%</th>
        </tr>
        <% AmazonOrderItem::TYPES.each do |type| %>
          <% total = AmazonOrderItem.type_details(type, @filter_records) %>
          <tr>
            <td><%= type %></td>
            <td><%= total[type] %></td>
            <td>0%</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>