<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Amazon Order Items</h1>
    </div>
  </div>
  <div class="col-sm">
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <a class="btn btn-secondary csv-btn" href="<%= amazon_order_items_path(format: :csv, filters: {returned: @returned, purchase_start_date: @start_date, purchase_end_date: @end_date, buy_out: @buy_out, sale_type: @sale_type} ) %>" id="export-order-items-button"><i class="fa fa-plus"></i>&nbsp;Export All</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="input-group mb-3 float-left">
      <% if @returned == "0" %>
        <a href="<%= amazon_order_items_path(filters: {returned: nil, buy_out: @buy_out, purchase_start_date: @start_date, purchase_end_date: @end_date, sale_type: @sale_type}) %>" class="btn btn-danger amazon-item-filter-button">Returned</a>
      <% elsif @returned == "1" %>
        <a href="<%= amazon_order_items_path(filters: {returned: 0, buy_out: @buy_out, purchase_start_date: @start_date, purchase_end_date: @end_date, sale_type: @sale_type}) %>" class="btn btn-success amazon-item-filter-button">Returned</a>
      <% else %>
        <a href="<%= amazon_order_items_path(filters: {returned: 1, buy_out: @buy_out, purchase_start_date: @start_date, purchase_end_date: @end_date, sale_type: @sale_type}) %>" class="btn btn-secondary amazon-item-filter-button">Returned</a>
      <% end %>

      <% if @buy_out == "0" %>
        <a href="<%= amazon_order_items_path(filters: {buy_out: nil, returned: @returned, purchase_start_date: @start_date, purchase_end_date: @end_date, sale_type: @sale_type}) %>" class="btn btn-danger amazon-item-filter-button">Buy Out</a>
      <% elsif @buy_out == "1" %>
        <a href="<%= amazon_order_items_path(filters: {buy_out: 0, returned: @returned, purchase_start_date: @start_date, purchase_end_date: @end_date, sale_type: @sale_type}) %>" class="btn btn-success amazon-item-filter-button">Buy Out</a>
      <% else %>
        <a href="<%= amazon_order_items_path(filters: {buy_out: 1, returned: @returned, purchase_start_date: @start_date, purchase_end_date: @end_date, sale_type: @sale_type}) %>" class="btn btn-secondary amazon-item-filter-button">Buy Out</a>
      <% end %>
      <div class="purchase_date_box d-flex flex-wrap">
        <label class="col-form-label amazon-item-filter-button">Purchase Date</label>
        <input type="text" class="form-control date-range-filter amazon-item-filter-button" id="amazon-order-item-purchase-date-filter" <% if !@start_date.blank? and !@end_date.blank? %>value="<%= @start_date %> - <%= @end_date %>"<% end %> />
        <a href="<%= amazon_order_items_path(filters: {returned: @returned, purchase_start_date: nil, purchase_end_date: nil, buy_out: @buy_out, sale_type: @sale_type}) %>" class="btn date-filter" >
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div class="purchase_date_box">
        <label class="col-form-label amazon-item-filter-button">Sale Type</label>
        <% selected_sale_type = params[:filters] ? params[:filters][:sale_type] : nil %>
        <%= select_tag "sale_type", options_for_select([ "sale", "rental" ], selected_sale_type), {:include_blank => true, :class => 'form-control select_sale_type_filter amazon-item-filter-button'} %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <table id="amazon-order-items-datatable" data-source="<%= amazon_order_items_path(format: :json, filters: {returned: @returned, purchase_start_date: @start_date, purchase_end_date: @end_date, buy_out: @buy_out, sale_type: @sale_type} ) %>" style="text-align: center; width:100%;" data-turbolinks='false'>
      <thead>
        <tr>
          <th>Amazon Order Id</th>
          <th>Order Item Id</th>
          <th>ASIN</th>
          <th>Seller SKU</th>
          <th>RNI</th>
          <th>Sale Type Id</th>
          <th>Quantity Ordered</th>
          <th>Item Price</th>
          <th>Returned</th>
          <th>Buy Out</th>
          <th>Buy Out Price</th>
          <th>Expired</th>
          <th>Due Date</th>
          <th>Charge Type</th>
          <th>Action Date</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
<%= render 'shared/block_modal' %>
<%= render 'charts' %>