<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="<%= users_path %>">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="<%= roles_path %>">Roles</a>
  </li>
</ul>

<div class="row mt-3 mb-3">
  <div class="col-sm">
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newRoleModal">
          <span class="fa fa-plus"></span> Add Role
        </button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th style="width: 10%">Name</th>
      <th style="width: 30%">Permissions</th>
      <th style="width: 20%">Created At</th>
      <th style="width: 20%">Updated At</th>
      <th style="width: 20%">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td>
          <% unless role.permissions.empty? %>
            <ul class="list-group">
              <% role.permission_types.each do |permission_type| %>
                <li class="list-group-item">
                  <b><%= permission_type.permissible_type %></b>
                  <ul class="ul-permission">
                    <% role.permissions.where(
                          permissible_type: permission_type.permissible_type
                        ).sort_by{|p| p.permissible.to_s}.each do |permission| %>
                      <li>
                        <span class="fa fa-chevron-right"></span>
                        &nbsp<%= permission.permissible.to_s %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          <% end %>
        </td>
        <td><%= role.created_at.strftime("%B %d, %Y %H:%M") %></td>
        <td><%= role.updated_at.strftime("%B %d, %Y %H:%M") %></td>
        <td>
          <%= link_to role, class: 'btn btn-light btn-sm' do %>
            <span class="fa fa-search-plus"></span>
            Show
          <% end %>
          <%= link_to role, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light btn-sm' do %>
            <span class="fa fa-trash"></span>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'new_role_modal' %>
