<div class="row">
    <div class="col-sm">
        <div class="float-right">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#permissionModal">
              <span class="fa fa-plus"></span> Add Permission
            </button>
            <button type="button" class="btn btn-secondary ml-2" data-toggle="modal" data-target="#editRoleModal">
              <span class="fa fa-edit"></span> Edit
            </button>
            <%= link_to roles_path, class:"btn btn-secondary ml-2" do %>
                <span class="fa fa-list"> </span>
                Return to List
            <% end %>
        </div>
    </div>
</div>

<table class="table table-bordered mt-3">
  <thead class="thead-light">
    <tr>
      <th colspan="5">Role</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>ID</td>
        <td><%= @role.id %></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><%= @role.name %></td>
      </tr>
      <tr>
        <td>Permissions</td>
        <td>
          <% unless @role.permissions.empty? %>
            <ul class="list-group">
              <% @role.permission_types.each do |permission_type| %>
                <li class="list-group-item">
                  <b><%= permission_type.permissible_type %></b>
                  <ul class="ul-permission">
                    <% @role.permissions.where(
                          permissible_type: permission_type.permissible_type
                        ).sort_by{|p| p.permissible.to_s}.each do |permission| %>
                      <li>
                        <%= link_to permission do %>
                          <span class="fa fa-search-plus"></span>
                        <% end %>
                        <%= link_to permission, method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <span class="fa fa-trash"></span>
                        <% end %>
                        &nbsp<%= permission.permissible.to_s %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Created At</td>
        <td><%= @role.created_at %></td>
      </tr>
      <tr>
        <td>Updated At</td>
        <td><%= @role.updated_at %></td>
      </tr>
    
  </tbody>
</table>

<%= render '/permissions/new_permission_modal' %>
<%= render 'edit_role_modal' %>