<% if params[:filter] == 'combine_shipments' %>
<tr>
  <td><%= amazon_shipment_item.shipment_id %></td>
  <td><%= amazon_shipment_item.quantity_shipped %></td>
  <td><%= amazon_shipment_item.quantity_in_case %></td>
  <td><%= amazon_shipment_item.quantity_received %></td>
  <td><%= amazon_shipment_item.quantity_difference %></td>
</tr>
<% else %>
<tr>
  <td><%= amazon_shipment_item.isbn %></td>
  <td><%= amazon_shipment_item.shipment_id %></td>
  <td><%= amazon_shipment_item.az_sku %></td>
  <td><%= amazon_shipment_item.quantity_shipped %></td>
  <td><%= amazon_shipment_item.quantity_in_case %></td>
  <td><%= amazon_shipment_item.quantity_received %></td>
  <td><%= amazon_shipment_item.quantity_difference %></td>
  <td><%= amazon_shipment_item.sku %></td>
  <td><%= amazon_shipment_item.condition %></td>
  <td><%= amazon_shipment_item.file_name %></td>
  <td><%= amazon_shipment_item.created_at %></td>
  <td><%= amazon_shipment_item.updated_at %></td>
  <td><span class="badge badge-<%= amazon_shipment_item.reconciled ? 'success' : 'danger' %>"><%= amazon_shipment_item.reconciled ? 'Yes' : 'No' %></span></td>
</tr>
<% end %>