<tr>
  <td><%= indaba_sku_item.amazon_shipment.az_sku %></td>
  <td><%= indaba_sku_item.amazon_shipment.isbn %></td>
  <td><%= indaba_sku_item.amazon_shipment.shipment_id %></td>
  <td><%= indaba_sku_item.sku %></td>
  <td>1</td>
  <td><%= indaba_sku_item.amazon_shipment.condition %></td>
  <td><%= indaba_sku_item.created_at %></td>
  <td><%= indaba_sku_item.updated_at %></td>
</tr>