<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Amazon Shipment</h1>
    </div>
  </div>
  <div class="col-sm">
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <a class="btn btn btn-secondary" href="<%= import_amazon_shipments_path %>" role="button"><i class="fa fa-plus"></i>&nbsp;Import</a>
      </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <a class="btn btn btn-danger" href="<%= delete_skus_amazon_shipments_path %>" role="button"><i class="fa fa-plus"></i>&nbsp;Delete</a>
      </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <a href="<%= combine_amazon_shipments_path(format: :csv) %>" id="export-combined-shipments-submit-button" class="btn btn-secondary csv-btn">Export to CSV</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="input-group mb-3 float-left">
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= amazon_shipments_path %>">Standard</a>
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= amazon_shipments_path(nil, filter: 'pending') %>">Pending</a>
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= amazon_shipments_path(nil, filter: 'twenty_days_pending') %>">20 Days Pending</a>
      <a role="button" class="btn <% if @filter_option.nil? %> btn-outline-secondary <% else %> btn-secondary <% end %> amazon-shipment-filter-button" href="<%= combine_amazon_shipments_path %>">Combine Shipments</a>
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= indaba_skus_amazon_shipments_path %>">Indaba SKU Level</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table class="table" id="combine-shipments-datatable" data-source="<%= combine_amazon_shipments_path(format: :json) %>" style="text-align: center; width:100%;" data-turbolinks='false'>
      <thead>
        <tr>
          <th>Shipment ID</th>
          <th>Quantity Shipped</th>
          <th>Quantity In Case</th>
          <th>Quantity Received</th>
          <th>Quantity Difference</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<%= render 'shared/block_modal' %>
