<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Amazon Shipments</h1>
    </div>
  </div>
  <div class="col-sm">
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <a class="btn btn btn-secondary" href="<%= import_amazon_shipments_path %>" role="button"><i class="fa fa-plus"></i>&nbsp;Import</a>
      </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <a class="btn btn btn-danger" href="<%= delete_skus_amazon_shipments_path %>" role="button"><i class="fa fa-plus"></i>&nbsp;Delete</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="input-group mb-3 float-left">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01"># of entries</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option value="10" <% if params[:show] == '10' %> selected <% end %>>10</option>
        <option value="25" <% if params[:show] == '25' || params[:show].nil? %> selected <% end %>>25</option>
        <option value="50" <% if params[:show] == '50' %> selected <% end %>>50</option>
        <option value="100" <% if params[:show] == '100' %> selected <% end %>>100</option>
      </select>
    </div>
  </div>
  <div class="col-sm"></div>
  <div class="col-sm">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2" name="daterange" id="sku-table-search-form"/>
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" id="sku-table-date-search-submit">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="input-group mb-3 float-left">
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= amazon_shipments_path %>">Standard</a>
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= amazon_shipments_path %>?filter=pending">Pending</a>
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= amazon_shipments_path %>?filter=twenty_days_pending">20 Days Pending</a>
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= amazon_shipments_path %>?filter=combine_shipments">Combine Shipments</a>
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= indaba_skus_amazon_shipments_path %>">Indaba SKU Level</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm float-right">
    <%= will_paginate @indaba_skus, list_classes: %w(pagination justify-content-end)  %>
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <%= render partial: 'indaba_sku_table_header' %>
      </thead>
      <tbody>
        <%=
        render partial: 'indaba_sku_item',
        collection: @indaba_skus
        %>
      </tbody>
      <tfoot>
      <%= render partial: 'indaba_sku_table_header' %>
      </tfoot>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm float-right">
    <%= will_paginate @indaba_skus, list_classes: %w(pagination justify-content-end)  %>
  </div>
</div>