<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Amazon Shipment</h1>
    </div>
  </div>
  <div class="col-sm">
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <a class="btn btn btn-secondary" href="<%= import_amazon_shipments_path %>" role="button"><i class="fa fa-plus"></i>&nbsp;Import</a>
      </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <a class="btn btn btn-danger" href="<%= delete_skus_amazon_shipments_path %>" role="button"><i class="fa fa-plus"></i>&nbsp;Delete</a>
      </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-group mr-2">
        <a href="<%= indaba_skus_amazon_shipments_path(format: :csv, data: @data) %>" id="export-indaba-sku-submit-button" class="btn btn-secondary csv-btn">Export to CSV</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="input-group mb-3 float-left">
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= amazon_shipments_path %>">Standard</a>
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= amazon_shipments_path(nil, filter: 'pending') %>">Pending</a>
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= amazon_shipments_path(nil, filter: 'twenty_days_pending') %>">20 Days Pending</a>
      <a role="button" class="btn btn-secondary amazon-shipment-filter-button" href="<%= combine_amazon_shipments_path %>">Combine Shipments</a>
      <a role="button" class="btn <% if @filter_option.nil? %> btn-outline-secondary <% else %> btn-secondary <% end %> amazon-shipment-filter-button" href="<%= indaba_skus_amazon_shipments_path %>">Indaba SKU Level</a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2" name="daterange" id="sku-table-search-form"/>
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" id="sku-table-date-search-submit">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table class="table" id="indaba-sku-datatable" data-source="<%= indaba_skus_amazon_shipments_path(format: :json, data: @data) %>"  style="text-align: center; width:100%;" data-turbolinks='false'>
      <thead>
        <tr>
          <th>Amazon SKU</th>
          <th>ISBN</th>
          <th>Shipment ID</th>
          <th>SKU</th>
          <th>Quantity </th>
          <th>Condition</th>
          <th>Author</th>
          <th>Title</th>
          <th>Edition</th>
          <th>Status</th>
          <th>Stat Date</th>
          <th>List</th>
          <th>MBS WH</th>
          <th>NBC WH</th>
          <th>QaPC3</th>
          <th>ALow</th>
          <th>QaLow</th>
          <th>YLow</th>
          <th>QaFBALow</th>
          <th>30SQF</th>
          <th>30SPF</th>
          <th>30RQF</th>
          <th>30RPF</th>
          <th>1YRWH</th>
          <th>2YRWH</th>
          <th>Publisher</th>
          <th>Pub Date</th>
          <th>Weight</th>
          <th>File Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody class="text-nowrap">
      </tbody>
    </table>
  </div>
</div>
<%= render 'shared/block_modal' %>