<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h1 class="h2">Amazon Shipments</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-plus"></i>&nbsp;Import</button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <div class="row">
    <div class="col-sm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01"># of entries</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option value="1" selected>10</option>
          <option value="2">25</option>
          <option value="2">50</option>
          <option value="3">100</option>
        </select>
      </div>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search ..." aria-label="Search ..." aria-describedby="basic-addon2">
      </div>
    </div>
  </div>
  <div>
    <%= will_paginate @amazon_shipment_items, list_classes: %w(pagination justify-content-end)  %>
  </div>
  <table class="table text-center">
    <thead>
      <%= render partial: 'amazon_shipment_table_header' %>
    </thead>
    <tbody>
      <%=
      render partial: 'amazon_shipment_item',
      collection: @amazon_shipment_items
      %>
    </tbody>
    <tfoot>
    <%= render partial: 'amazon_shipment_table_header' %>
    </tfoot>
  </table>
  <div>
    <%= will_paginate @amazon_shipment_items, list_classes: %w(pagination justify-content-end)  %>
  </div>
</div>