<%= form_with(model: book_field_mapping, local: true) do |form| %>
  <% if book_field_mapping.errors.any? %>
    
      <% book_field_mapping.errors.full_messages.each do |message| %>
        <div id="error_explanation" class="alert alert-warning alert-dismissable fade show" role="alert">
          <%= message.html_safe %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    
  <% end %>

  <div class="form-group row">
    <label for="book_export_template_name" class="col-sm-1 col-form-label">
      Display Name *
    </label>
    <div class="col-sm-3">
      <%= form.text_field :display_name, required: true, class: "form-control" %>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-1 col-form-label">Lookup Field *</label>
    <div class="col-sm-3">
      <%= form.text_field :lookup_field, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <div class="actions">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
