<!DOCTYPE html>
<html>
  <head>
    <% if @enable_viewport %>
      <meta name="viewport" content="width=device-width, inital-scale=1" />
    <% end %>
    <title>UnifiedTools</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="spinner" id="spinner"></div>
      <div>
        <% if user_signed_in? %>
          <%= render 'shared/sidebar' %>
        <% end %>
        <div id="content" class="active">
          <% if user_signed_in? %>
            <%= render 'shared/nav' %>
          <% end %>
          <div class="main-content">
            <% flash.each do |key, value| %>
              <% next if value.blank? %>
              <div class="<%= flash_class(key) %>">
                <%= value %>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
