<!DOCTYPE html>
<html>
  <head>
    <title>UnifiedTools</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user.is_a?(User) %>
    <div class="wrapper">
      <div class="spinner" id="spinner"></div>
      <div>
        <%= render 'shared/sidebar2' %>
        <div id="content" class="active">
          <%= render 'shared/nav' %>
          <div class="main-content">
            <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
              <%= value %>
            </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div id="footer">
      <%= javascript_pack_tag 'sidebar', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'amazon_table', 'data-turbolinks-track': 'reload' %>
    </div>
  </body>
</html>