<!DOCTYPE html>
<html>
  <head>
    <title>UnifiedTools</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
              <%= value %>
            </div>
          <% end %>
        </div>
        <div class="col-sm"></div>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>